*{
    overflow: hidden;
    padding: 2px;
    margin: 8px;
    text-align: left;
    color: yellow;
}
#Signup{
   background-color: orange;
   color: yellow;
}

#Home{
    background-color: rgba(0, 0, 0, 0.821);
}
